<div class="container-fluid ">
        <div class="row info">
            <ul>
                <li>
                    <i class="bi bi-telephone-fill"> +2546325787</i>
                </li>
                <li>
                    <i class="bi bi-clock-fill"> Mon - Sat: 9:00 - 17:00</i>
    
                </li>
                <li>
                    <i class="bi bi-envelope-fill">info@gikpad.com</i>
                </li>
            </ul>
    
        </div>
    

    <div class="row card-footer  ">
        <div class="col-md-3">
            <div class="company ">
                <img src="../static/img/GikpadLogo1.png" alt="logo" height="100px" width="200px">
            </div>
        </div>
        <div class="col-md-3">
            <h4>Solutions</h4>
            <ul>
                <li>Web design and development</li>
                <li>Android application development</li>
                <li>Desktop application development</li>
                <li>CCTV installation/Network solutions</li>
            </ul>


        </div>
        <div class="col-md-3">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">our services</a></li>
                <li><a href="#">About us</a></li>

            </ul>


        </div>
        <div class="col-md-3">
            <h2>Social media</h2>

            <div class="footer-media">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"> <i class="bi bi-youtube"></i></a>
            </div>

        </div>

    </div>


</div>