
<header>
    <div class="container">
       <div class="row">
          <div class="brand-name">

        
             <a href="/" class="logo">Gikpad Technologies</a>
          </div>
          <div class="hamburger">
             <em class="fa fa-bars"></em>
          </div>
          <div class="navbar">
             <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="{%url 'about'%}">About</a></li>
                <li><a href="{%url 'services'%}">Services</a></li>
                <li><a href="{%url 'contacts'%}">Contact Us</a></li>
             </ul>
          </div>
       </div>
    </div>
 </header>