{% extends  'base.html' %}
{%load bootstrap4%}


{% block content %}


<div class="container-fluid">
    <div class="row service-image text-center">
        <div class="service-header">
            <h2>Our Services</h2>
        
        </div>



    </div>
    <div class="row service-statement">
        <h5 class="container py-3 text-center">We design and develope responsive web, android and desktop applications according to client's taste and
            preference. We give our clients the best digital presence by providing ideal services for their business at
            an affordable cost.</h5>
    </div>
    <div class="row services py-3">


        <div class="text-center card card-body m-2" style="width:16rem;">
            <h5>Web Design and Development
            </h5>
            <div class="text-center py-3">
                <img src="../static/img/web.png" alt="Computer Repair" height="65px" width="65px">

            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s.</p>
            <a href="#" class="read-more">Read more</a>

        </div>
        <div class="text-center card card-body m-2" style="width:16rem;">
            <h5>Android Application Development
            </h5>
            <div class="text-center py-3">
                <img src="../static/img/android.png" alt="Computer Repair" height="65px" width="65px">

            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s.</p>
            <a href="#" class="read-more">Read more</a>

        </div>
        <div class="text-center card card-body m-2" style="width:16rem;">
            <h5>Desktop Application Development
            </h5>
            <div class="text-center py-3">
                <img src="../static/img/desktop.png" alt="Computer Repair" height="65px" width="65px">

            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s.</p>
            <a href="#" class="read-more">Read more</a>

        </div>




    </div>

    <div class="row services py-1" id="svs">
        <div class="text-center card card-body m-2" style="width:16rem;">
            <h5>CCTV Installation
            </h5>
            <div class="text-center py-3">
                <img src="../static/img/cctv.png" alt="Computer Repair" height="65px" width="65px">

            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s.</p>
            <a href="#" class="read-more">Read more</a>

        </div>

        <div class="text-center card card-body m-2" style="width:16rem;">
            <h5>Computer Repair And Maintenance
            </h5>
            <div class="text-center py-3">
                <img src="../static/img/repair.png" alt="Computer Repair" height="65px" width="65px">

            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s.</p>
            <a href="#" class="read-more">Read more</a>

        </div>
        <div class="text-center card card-body m-2" style="width:16rem;">
            <h5>IT Consultancy
            </h5>
            <div class="text-center py-3">
                <img src="../static/img/consultancy.png" alt="Computer Repair" height="65px" width="65px">

            </div>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s.</p>
            <a href="#" class="read-more">Read more</a>

        </div>

    </div>

</div>

{% endblock %}